<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav-container__sidenav mat-elevation-z24"
    #sidenav
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      <mat-icon>circle</mat-icon>
      <span
        style="
          padding-left: 5px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 8ch;
        "
        >System admin</span
      >
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="sidenav-container__items">
      <mat-button-toggle-group
        fxLayout="column"
        fxLayoutAlign="start center"
        [(ngModel)]="selectedButton"
      >
        <mat-button-toggle
          [value]="1"
          class="sidenav-container__item"
          routerLink="/question-builder"
          ><mat-icon>assignment</mat-icon> <span>Form</span></mat-button-toggle
        >
        <mat-button-toggle class="sidenav-container__item" [value]="2" routerLink="/answers"
          ><mat-icon>assignment_turned_in</mat-icon>
          <span>Response</span></mat-button-toggle
        >
        <mat-button-toggle
          class="sidenav-container__item"
          routerLink="/users"
          [value]="3"
          ><mat-icon>person_pin_circle</mat-icon>
          <span>User</span></mat-button-toggle
        >
        <mat-button-toggle class="sidenav-container__item" [value]="4" routerLink="/maps"
          ><mat-icon>my_location</mat-icon> <span>Map</span></mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </mat-sidenav>
  <div class="sidenav-container__sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"> </app-toolbar>
    <app-main-content></app-main-content>
  </div>
</mat-sidenav-container>
